<section class="sidebar">
    <div class="sidebar_heading">
        Side Bar
    </div>
    <ul>
        <li>category 1</li>
        <li>category 1</li>
        <li>category 1</li>
        <li>category 1</li>
        <li>category 1</li>
    </ul>
</section>